<form method="post">
    <div style="margin-top: 14px;text-align: center;font-size: 30px; font-weight: 500;" *ngIf="!dataSource">
        <span>{{'RoleTable.No_Role_Found' | translate }}</span>
    </div>
    <div class="table-responsive user-table">
        <div class="mat-elevation-z8">
            <mat-table *ngIf="dataSource && dataSource.data" matSort [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>{{'RoleTable.Role_Name' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.name}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell mat-sort-header *matHeaderCellDef>{{'RoleTable.Description' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.description }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef>{{'RoleTable.Status' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let role">{{role.isActive ? 'Active': 'InActive'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="modifyordelete">
                    <mat-header-cell *matHeaderCellDef> {{'RoleTable.Modify_Delete' | translate}} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button *ngIf="element && element['isEditable']" class="btn-icon pointer" type="button" (click)="editRole(element)"><img
                                src="assets/images/edit.png" alt="Edit"></button>
                        <button *ngIf="element && element['isEditable']" class="btn-icon pointer" type="button" (click)="deleteRole(element)"><img
                                src="assets/images/delete.png" alt="Delete"></button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <mat-paginator [style.display]="(dataSource && dataSource.data.length > eventPageSize)? '': 'none'"
            (page)="onPaginationChange($event)" [pageIndex]="_pageIndex" [pageSize]="_pageSize"
            [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</form>