<form [formGroup]="forgotForm" class="form-signin" novalidate (ngSubmit)="onClickSubmit()">
    <div style='height: 417px; background-color: white; width: 488px;' class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 style='margin-top: 28px; height: 28px;color: #4A4A4A;	font-family: Roboto;	font-size: 24px;	font-weight: 300;	line-height: 28px;'
                                class="text-center">Forgot Password?</h2>
                            <p style='margin-top:77px;'>Enter User ID to reset password</p>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div style='margin-top: 20px;' class="input-group">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <app-text-input [formRef]="forgotForm" [elementClass]="'inputEmail'"
                                            [elementRef]="forgotForm.get('userid')" [elementName]="'User Id'"
                                            [formControlNm]="'userid'"
                                            style='margin-left:100px;width:250px;height:40px; font-size:14px;'>
                                        </app-text-input>
                                        <!-- <input id="email" name="email" placeholder="User ID"
                                        style='margin-left:100px;width:250px;height:40px; font-size:14px;' type="email"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-primary btn-signin"
                                        style='height: 40px;width: 250px; font-weight: 400;'
                                        type="submit" [disabled]="isLoading$" value="Submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">

                                <a routerLink="/login" class="register" style='margin-right:90px;'>
                                    Have Password? Go to Login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #confirmation>
    
</ng-template>