<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <section class="page-not-found-section">
        <div class="page-not-found-section-inner">
          <h2>404</h2>
          <p>WE ARE SORRY, BUT THE PAGE YOU REQUESTED WAS NOT FOUND :(</p>
          <div class="text-center">
            <a class="btn btn-danger btn-lg" routerLink="/dashboard">Go Home</a>
            <a class="btn btn-danger btn-lg" routerLink="/dashboard">Contact Us</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>